<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenida</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header th:insert="~{../static/html/header2.html}"></header>
    <main class="container">
      <h2 class="text-center my-5" style="font-weight: 700">
        Bienvenido "Usuario"
      </h2>
      <h3 class="text-center mb-5">¿Qué deseas hacer?</h3>
      <section class="row justify-content-center text-center">
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/usuario/crearUsuario'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Crear Usuario</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/empleador/crearEmpleador'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Crear Empleador</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/trabajador/crearTrabajador'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Crear Trabajador</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/liquidacion/crearLiquidacion'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Crear Liquidacion</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/usuario'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Ver y/o editar usuario</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/usuario'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Ver y/o editar empleador</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/trabajador'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Ver y/o editar trabajador</h5>
            </div>
          </div>
        </div>
        <div
          class="card text-bg-dark m-2 p-3"
          style="max-width: 18rem"
          onclick="window.location.href='/liquidacion'"
        >
          <div class="col">
            <div class="card-body">
              <h5 class="card-title text-center">Ver y/o editar liquidacion</h5>
            </div>
          </div>
        </div>
      </section>

      <h4 class="text-center my-5">
        Para agregar una nueva liquidación selecciona la opción<br />
        "Ver y/o editar trabajador"
      </h4>
    </main>

    <footer th:insert="~{../static/html/footer.html}"></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
